.admin-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  font-family: Arial, sans-serif;
}

.admin-container h2 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.table-wrapper {
  overflow-x: auto;
}

.usuarios-table {
  width: 100%;
  border-collapse: collapse;
}

.usuarios-table th,
.usuarios-table td {
  padding: 12px 15px;
  text-align: left;
}

.usuarios-table thead {
  background-color: #5c5656;
}

.usuarios-table thead th {
  font-weight: bold;
}

.usuarios-table tbody tr {
  background-color: #2c2b2b;
  transition: background-color 0.2s, transform 0.2s;
}

.usuarios-table tbody tr:hover {
  background-color: #3a3a55;
  transform: scale(1.02);
}

.usuarios-table tbody td {
  color: #fff;
  border-bottom: 1px solid #444;
}

@media (max-width: 600px) {
  .usuarios-table th, .usuarios-table td {
    padding: 8px 10px;
  }
}


.usuarios-table tbody td button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.alterar-btn {
  background-color: #4caf50;
  color: #fff;
}

.alterar-btn:hover {
  background-color: #45a049;
}

.excluir-btn {
  background-color: #f44336;
  color: #fff;
}

.excluir-btn:hover {
  background-color: #d32f2f;
}
